{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block body %}
<div width="100%">
    <link rel='stylesheet' href='/static/css/tabular.css'/>
    <table class="table-condensed table" width="100%">
        <tr>
            <td class="no-border center upcase strong"><h2>cuburt rivera balanon</h2></td>
        </tr>
        <tr>
            <td class="no-border center upcase strong"><h4>information technology major</h4></td>
        </tr>
        <tr>

        </tr>
    </table>
</div>
{% endblock %}